<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PiLights Controller</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
  <link href="styles.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
</head>
<body>
  <div id="app">
    <v-app>
      <v-toolbar fixed app :dark="!power">
        <v-toolbar-title v-text="title"></v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn flat fab @click="power = !power">
            <v-icon>power</v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <main>
        <v-content>
          <v-list two-line :dark="!power">
          <template v-for="(item, index) in items">
            <v-subheader v-if="item.header" :key="item.header">{{ item.header }}</v-subheader>
            <v-divider v-else-if="item.divider" :inset="item.inset" :key="index"></v-divider>
            <v-list-tile avatar v-else :key="item.title" @click="">
              <v-list-tile-avatar>
                <v-icon v-html="item.icon"></v-icon>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-html="item.title"></v-list-tile-title>
                <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-btn flat fab @click="item.on = !item.on" v-if="item.on">
                  <v-icon v-if="item.on">play_arrow</v-icon>
                </v-btn>
                <v-btn flat fab @click="item.on = !item.on" v-if="!item.on">
                  <v-icon v-if="!item.on">check</v-icon>
                </v-btn>
              </v-list-tile-action>
            </v-list-tile>
          </template>
        </v-list>
        </v-content>
      </main>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script>
    Vue.component('page', {
      template: '#page'
    })
    new Vue({
      el: '#app',
      data: {
        clipped: true,
        drawer: true,
        fixed: false,
        items: [
          { header: 'STRANDTEST' },
          { icon: 'color_lens', title: 'Rainbow', subtitle: 'test', on: false },
          { icon: 'color_lens', title: 'Rainbow 2', subtitle: 'test' },
        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'PiLights',
        power: false,
      }
    })
  </script>
</body>
</html>
