<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PiLights Controller</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
</head>
<body>
  <div id="app">
    <v-app>
      <v-toolbar fixed app :dark="!power">
        <v-toolbar-title v-text="title"></v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn flat fab @click="power = !power">
            <v-icon>power</v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <main>
        <v-content>
          <v-list two-line :dark="!power">
          <template v-for="(pattern, index) in patterns">
            <v-subheader v-if="pattern.header" :key="pattern.header">{{ pattern.header }}</v-subheader>
            <v-list-tile v-else :key="pattern.title">
              <v-list-tile-avatar>
                <v-icon v-html="pattern.icon"></v-icon>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-html="pattern.title"></v-list-tile-title>
                <v-list-tile-sub-title v-html="pattern.subtitle"></v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-btn
                  fab
                  color="success"
                  @click="add(pattern)"
                  v-if="pattern.status === 'ok'"
                  transition="fade-transition"
                >
                  <v-icon>check</v-icon>
                </v-btn>
                <v-btn
                  fab
                  color="error"
                  @click="add(pattern)"
                  v-else-if="pattern.status === 'error'"
                  transition="fade-transition"
                >
                  <v-icon>check</v-icon>
                </v-btn>
                <v-btn
                  flat
                  fab
                  @click="add(pattern)"
                  v-else
                  transition="fade-transition"
                >
                  <v-icon>play_arrow</v-icon>
                </v-btn>
              </v-list-tile-action>
            </v-list-tile>
          </template>
        </v-list>
        </v-content>
      </main>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    Vue.component('page', {
      template: '#page'
    })
    new Vue({
      el: '#app',
      data: {
        patterns: [
          { header: 'STRANDTEST' },
          {
            icon: 'color_lens',
            title: 'Rainbow I',
            subtitle: 'OG',
            program: 'strandTest',
            pattern: 'rainbow',
            status: 'ready'
          },
          {
            icon: 'color_lens',
            title: 'Rainbow II',
            subtitle: 'The Squeakquel',
            program: 'strandTest',
            pattern: 'rainbowCycle',
            status: 'ready'
          },
          {
            icon: 'color_lens',
            title: 'Rainbow III',
            subtitle: `This time it's personal`,
            program: 'strandTest',
            pattern: 'theaterChaseRainbow',
            status: 'ready'
          },
        ],
        title: 'PiLights',
        power: false,
        add: async pattern => {
          const DELAY = 3000;

          try {
            console.log(window.location.hostname);
            pattern.status = 'pending';
            const res = await axios({
              method: 'post',
              url: `http://${window.location.hostname}:${window.location.port}/program/${pattern.program}/${pattern.pattern}`,
              data: [],
            });
            console.log(res.data);
            pattern.status = 'ok';
          }
          catch (error) {
            pattern.status = 'error';
            console.log(error);
          }
          setTimeout(() => pattern.status = 'ready', DELAY)
        },
      },
    })
  </script>
</body>
</html>
