[Unit]
Description=PiLights
After=network.target

[Service]
ExecStart=sudo /usr/bin/python3 -u server_new.py
WorkingDirectory=/home/pi/projects/PiLights
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
